@import 'materialize-css/sass/materialize';
@import 'font-awesome/scss/font-awesome';

.fa-left {
  @extend .fa;
  margin-right: 0.2em;
}

#main-menu h1.logo {
  display: inline-block;
  margin: 0;
}

h1.logo {
  font-size: 50px;
}

h1.logo:before {
  @extend .fa-left, .fa-calendar;
  font-size: 80%;
}

#main-header {
  @extend .red, .accent-3;
}

#main-menu {
  @extend .red, .accent-3, .container;
  box-shadow: none;
}

#main-menu ul.menu { @extend .right; }

#main-menu ul.menu li a {
  font-weight: bold;
  font-size: 120%;
}

#main-menu ul.menu li.appointments a:before { @extend .fa-left, .fa-list; }
#main-menu ul.menu li.professionals a:before { @extend .fa-left, .fa-user-md; }
#main-menu ul.menu li.clients a:before { @extend .fa-left, .fa-users; }

#main-content {
  @extend .container;
  padding: 0 5em;
}

#main-actions-bar button {
  @extend .btn, .waves-effect, .waves-light;
}

#main-actions-bar button.add { @extend .blue; }
#main-actions-bar button.add:before { @extend .fa-left, .fa-plus; }

.input-field.invalid .material-icons {
  @extend .red-text;
}

table.striped > tbody > tr:nth-child(odd) {
  @extend .blue-grey, .lighten-5;
  &:hover { @extend .lighten-4; }
}
table.striped > tbody > tr:nth-child(even) {
  @extend .white;
  &:hover { @extend .blue-grey, .lighten-4; }
}
