@import 'materialize-css/sass/materialize';
@import 'font-awesome/scss/font-awesome';

.fa-left {
  @extend .fa;
  margin-right: 0.2em;
}

input[type="checkbox"].filled-in:checked + label:after {
  @extend .grey, .darken-4;
  border-color: #333;
}

#main-menu h1.logo {
  display: inline-block;
  margin: 0;
}

h1.logo {
  font-size: 50px;
}

h1.logo:before {
  @extend .fa-left, .fa-calendar;
  font-size: 80%;
}

#main-header {
  @extend .red, .accent-3;
}

#main-menu {
  @extend .red, .accent-3, .container;
  box-shadow: none;
}

#main-menu ul.menu { @extend .right; }

#main-menu ul.menu li a {
  font-weight: bold;
  font-size: 120%;
}

#main-menu ul.menu li.appointments a:before { @extend .fa-left, .fa-list; }
#main-menu ul.menu li.professionals a:before { @extend .fa-left, .fa-user-md; }
#main-menu ul.menu li.clients a:before { @extend .fa-left, .fa-users; }

#main-content {
  @extend .container;
  padding: 0 5em;
}

#main-actions-bar button {
  @extend .btn, .waves-effect, .waves-light;
}

#main-actions-bar button.add {
  @extend .blue;
  &:before { @extend .fa-left, .fa-plus; }
}

#main-actions-bar button.delete {
  @extend .red;
  &:before { @extend .fa-left, .fa-times; }
}

.input-field.invalid .material-icons {
  @extend .red-text;
}

table.striped > tbody > tr:nth-child(odd) {
  background: color('grey', 'lighten-4');
}
table.striped > tbody > tr:nth-child(even) {
  background: color('grey', 'lighten-5');
}
table.striped > tbody > tr:hover {
  @extend .grey, .lighten-3;
}
table.pointer > tbody > tr {
  cursor: pointer;
}
